{% extends "network/layout.html" %}

{% block title %}Register &ndash; Network{% endblock %}

{% block wrapper_class %}auth-wrapper{% endblock %}

{% block body %}
<div class="auth-card card">
    <div class="auth-brand">Network</div>
    <p class="auth-tagline">Create an account to start posting and following.</p>

    {% if message %}
    <div class="alert-msg">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm password">
        </div>
        <input class="btn btn-primary" type="submit" value="Create Account">
    </form>

    <hr class="auth-divider">

    <p class="auth-footer">
        Already have an account? <a href="{% url 'login' %}">Log in here.</a>
    </p>
</div>
{% endblock %}
